# https://www.w3schools.com/git/git_ignore.asp?remote=github
*.log
# disable for real projects, production
# .env
docker.env

uuid_generator
__pycache__
.pytest_cache
env

/rabbitmq/rabbitmq/
/rabbitmq/.erlang.cookie
/rabbitmq/mnesia

old_files